@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #3b82f6;
  font-family: "Open Sans", sans-serif;
}

.center {
  width: 35%;
  margin: auto;
}

section {
  margin-top: 4rem;
}

a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  background-color: brown;
}

label {
  display: block;
  font-size: 2rem;
}

input {
  display: block;
  margin-left: 1rem;
  height: 1.4rem;
  width: 50%;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.8rem;
  background-color: brown;
  margin: 1rem 0rem;
}

#result {
  color: white;
  font-size: 1.5rem;
}
